body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    line-height: 1.8;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list--red {
  color: red;
}

.yellow1, .yellow {
  color: yellow;
}


.caption {
  color: aqua;
  font-size: 20px;
  padding-left: 30px;
}

.caption1 {
  color: aqua;
  font-size: 20px;
  padding-left: 30px;
}

.caption2 {
  color: salmon;
  font-size: 20px;
  padding-left: 80px;
}

.lesson__text {
  position: relative;
}

.lesson__block {
  background-color: blue;
}




.blockq {
	padding: 15px;
	width: 350px;
	background-color: #794f45;
}
.block__innerq {
	padding: 15px;
	margin: 15px;
	background-color: #77608d;
}
.block__inner-innerq {
	margin: 15px;
	background-color: #7a956b;
	padding: 15px;
}

