body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  line-height: 1.8;
  padding: 15px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list--red {
  color: red;
}

.yellow1,
.yellow {
  color: yellow;
}


.caption {
  color: aqua;
  font-size: 20px;
  padding-left: 30px;
}

.caption1 {
  color: aqua;
  font-size: 20px;
  padding-left: 30px;
}

.caption2 {
  color: salmon;
  font-size: 20px;
  padding-left: 80px;
}

.lesson__text {
  position: relative;
}

.lesson__block {
  background-color: blue;
}




.blockq {
  padding: 15px;
  width: 350px;
  background-color: #794f45;
}

.block__innerq {
  padding: 15px;
  margin: 15px;
  background-color: #77608d;
}

.block__inner-innerq {
  margin: 15px;
  background-color: #7a956b;
  padding: 15px;
}





.menu {
  display: inline-block;

}

.menu._active .menu__list {
  display: block;
}

.menu._active .menu__button span:first-child {
  display: none;
}

.menu._active .menu__button span:last-child {
  display: block;
}

.menu__button span:first-child {
  display: block;
}

.menu__button {
  background-color: aquamarine;
}

.menu__button span:last-child {
  display: none;
}

.menu__list {
  background-color: #77608d;
  padding: 25px;
}

.menu__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.menu__link {
  color: #fff;
  font-size: 16px;
}

.menu__link:hover {
  text-decoration: none;
}

.btn9 {
  background-color: red;
  padding: 30px;
}

.block-for-mouse {
  padding: 15px;
  font-size: 14px;
  width: 200px;
  height: 200px;
  background-color: #7a956b;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.block-for-mouse1 {
  padding: 15px;
  font-size: 14px;
  width: 200px;
  height: 200px;
  background-color: greenyellow;

  text-align: center;
}

.block-for-mouse2 {
  padding: 15px;
  font-size: 14px;
  width: 200px;
  height: 200px;
  background-color: green;

  text-align: center;
}

.block-for-mouse3 {
  padding: 15px;
  font-size: 10px;
  max-width: 600px;
  min-height: 200px;
  background-color: orange;

  text-align: center;
}

.block-for-mouse4 {
  padding: 15px;
  font-size: 10px;
  max-width: 200px;
  min-height: 100px;
  background-color: tomato;

  text-align: center;
}

.blo4 {
  background-color: violet;
}

.block-for-mouse5 {
  padding: 15px;
  font-size: 10px;
  max-width: 200px;
  min-height: 100px;
  background-color: wheat;

  text-align: center;
}

.block-for-mouse {
  padding: 15px;
  font-size: 14px;
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  transition: .4s;
}

.block-for-mouse0 {
  padding: 15px;
  font-size: 14px;
  width: 200px;
  height: 200px;
  background-color: sandybrown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.block-for-mouse span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-field {
  width: 200px;
  height: 200px;
  background-color: #7a956b;
  position: relative;
}

.drag-field__item {
  width: 40px;
  height: 40px;
  cursor: grab;
  background-color: #77608d;

}

span {
  cursor: pointer;
  transition: .4s;
}

.drag-field__point {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 10%;
  background-color: #45553d;
  transition: all 0.3s ease 0s;
}

.drag-field__point._active {
  box-shadow: inset 0px 0px 10px 5px #333eb6;
}


.textarea__item {
  width: 300px;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(44, 43, 43);
}


.scroll {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #7a956b;
  padding: 15px;
  font-size: 20px;
  color: #fff;
}